.box1{

height: 100px;
width: 2000px;
background-color: red;

}

.box2{

height: 100px;
width: 2000px;
background-color: orange;

}

.box3{

height: 100px;
width: 2000px;
background-color: yellow;

}

.box4{

height: 100px;
width: 2000px;
background-color: green;

}

.box5{

height: 100px;
width: 2000px;
background-color: blue;

}

.box6{

height: 100px;
width: 2000px;
background-color: purple;

}